@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject ProductManagementSystem.Client.Interfaces.Users.IUserService UserService
@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />

    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authenticated = await UserService.IsAuthenticated();
        if (!authenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}